{# templates/header.html.twig #}

      <!-- Header section. Update the background by changing the .header class background image. -->
      <div class="header">
        <div class="container fluid-container header-content content-area">
          <span class="header-icon glyphicon glyphicon-heart-empty"></span> 
          <div class="header-title">
            <h1>Utrecht</h1>
            <h3>Common Ground</h3>
          </div>
        </div>        
      </div>